@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mainWidth {@apply w-4/5 mx-auto}
  .outlined {
    color: white;
    text-shadow:
      -1.5px -1.5px 0 #fff,
       0   -1.5px 0 #fff,
       1.5px -1.5px 0 #fff,
       1.5px  0   0 #fff,
       1.5px  1.5px 0 #fff,
       0    1.5px 0 #fff,
      -1.5px  1.5px 0 #fff,
      -1.5px  0   0 #fff;
  }
  
}



@layer utilities {
  ::-webkit-scrollbar {
    @apply h-1 w-1;    
  }
  ::-webkit-scrollbar-track {
    @apply bg-dark-200;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-orange;
  }
  li{
    cursor: pointer;
  }

}